
body {
    background-color: bisque;
    font-family: 'Alumni Sans', sans-serif;
    margin: 0;
}

.back {
    position: relative;
    overflow: hidden;
}

.back .goBack {
    left: 2vw;
    top: 1.5vw;
    position: absolute;
}

.goBack button {
    border: 1.5px solid bisque;
    border-radius: 25px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0;
    color: bisque;
    background-color: rgba(70, 36, 17, 0.001);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2vw;
    opacity: 60%;
}

.goBack button:hover {
    color: white;
}

.back img {
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
}

.title {
    position: absolute;
    font-family: 'Big Shoulders Inline Display', cursive;
    color: bisque;
    font-size: 10vw;
    top: 12vw;
    left: 50%;
    transform: translate(-50%, -50%);
}
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe_text {
    width: 70%;
    font-size: 2.5vw;
    white-space: pre-wrap;
    margin: 5vw;
}

.recName {
    margin-bottom: 5vw;
    font-size: 5vw;
    text-align: center;
    margin-top: 10vw;
}

.photo {
    text-align: center;
    width: 100%;
}
.comments{
    white-space: pre-wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.rating {
    font-size: 2vw;
    text-align: center;
    position: relative;
    margin-bottom: 15vw;
    color: darkred;
}

.del button{
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 3vw;
    padding-top: 0;
    color: black;
    background-color: rgba(70, 36, 17, 0.001);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2vw;
    opacity: 60%;
}

.del button:hover{
    color: darkred;
}